.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animatedForm {
  animation: fadeInUp 1s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.h1Form {
  text-align: center;
  color: #88e23b;
  font-family: "Get Schwifty", cursive;
}

.h2Form {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #88e23b;
}

.labelForm {
  display: block;
  margin-bottom: 10px;
  font-size: 0.9em;
  color: #0e0e0e;
}

.inputForm {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.pForm {
  margin: 0;
  color: #ff4444;
  font-size: 0.9em;
}

.buttonForm {
  width: 100%;
  padding: 10px;
  background-color: #88e23b;
  color: #0c0c0c;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.buttonForm:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
