.aboutContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: black;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.profile {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.profileImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 20px;
}

.profileInfo {
  max-width: 500px;
}
